{% extends 'calculator/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% if table_data %}

<div class="centerCalc">
    <div class="row justify-content-center">
        <p>Enter your salaries for the given years and hit calculate.</p>
        <form id="form_b" action="{% url 'calc' %}" method="post">
          {% csrf_token %}
          <table class="table text-white">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Inflation for {{ country_name }}</th>
                <th scope="col">Salary</th>
                <th scope="col">Inflated Salary</th>
              </tr>
            </thead>
            <tbody>
              {% for year, percentage, salary, inflated, inflation_percent in table_data %}
              <tr>
                <th>{{ year }}</th>
                <td>{{ inflation_percent }}</td>
                <td><input type="text" class="form-control" name="salaries_{{ year }}" value ="{{ salary }}"></td>
                <td>{{ inflated }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
            <br>
          <button type="submit" class="btn btn-outline-light">Calculate</button>
            <br>
        </form>

        <form id="form_a" action="{% url 'update_length' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center mb-2">
            <div data-mdb-input-init class="form-outline" style="width: 14rem">
                <br>
                {{ form_a.starting_date|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-outline-light btn-x">Change</button>
        </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}