{% extends 'calculator/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="center">
        <h3>Inflation Calculator</h3>
        <p>Select your country and pick a year from where you want to start your calculation. </p>
            <form id="form_c" action="{% url 'landing' %}" method="post">
            {% csrf_token %}
                <div class="container">
                  <div class="row">
                      <div class="col">
                          {{ form.country|as_crispy_field }}
                      </div>
                      <div class="col">
                          {{ form.year|as_crispy_field }}
                      </div>
                      <div class="w-100"></div>
                      <div class="col">
                          <button type="submit" class="btn btn-outline-light ">Submit</button>
                      </div>
                  </div>
                </div>
        </form>
    </div>
{% endblock %}