@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #191e2e;
  font-family: Open Sans;
  font-size: 15px;
  color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
    text-align: center;
}
tr, td {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 15px;
    text-align: center;
}
.center {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.centerCalc{
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.form-control {
    background-color: #191e2e;
    color: #ffffff;
}
.form-control:focus {
    background-color: #272e47;
    color: #ffffff;
}
.form-select {
    background-color: #191e2e;
    color: #ffffff;
}
.btn-x {
    height:50%;
    position: relative;
    top: 23px;
}